NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
NEXT_PUBLIC_USE_MOCK_DATA=true
# SUPABASE_SERVICE_ROLE_KEY=your-service-role-key # For admin API routes (Keep secret!)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dm0lqon3h
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=digital regional market
MERCADOPAGO_ACCESS_TOKEN=TEST-00000000-0000-0000-0000-000000000000
